.signup-container {
  max-width: 700px;
  margin: 50px auto;
  padding: 30px;
  background-color: #111;
  border-radius: 12px;
  box-shadow: 0 6px 16px rgb(148, 148, 148);
  /* font-family: Monotype Corsiva, cursive; */
}

.signup-container h1 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 28px;
  color: orange;
}

.error {
  background-color: #ffa1aa;
  color: #ff0017;
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 15px;
  border: 1px solid #f5c2c7;
  font-size: 14px;
}

.success {
  background-color: #baffc5;
  color: #4bff72;
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 15px;
  border: 1px solid #badbcc;
  font-size: 14px;
}

.signup-form .input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;
}

.signup-form label {
  font-weight: bold;
  margin-bottom: 6px;
  color: green;
  font-size: 14px;
}

.signup-form input, 
.signup-form select {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
  background-color: rgb(165, 165, 165);
}

.radio-group {
  display: flex;
  gap: 20px;
  margin-top: 5px;
}

.submit-btn {
  width: 100%;
  padding: 14px;
  background: linear-gradient(135deg, orange,green);
  color: white;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  transition: transform 0.2s ease, background 0.3s ease;
}

.submit-btn:hover {
  background: linear-gradient(135deg, #0056b3, #003f7f);
  transform: scale(1.05);
}

.preview-container {
  background-color: #ffffff;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 12px;
  margin-top: 20px;
}

.preview-container h2 {
  margin-bottom: 20px;
  font-size: 30px;
  color: rgb(0, 0, 0);
  text-align: center;
}

.preview-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.preview-buttons button {
  padding: 14px 24px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.3s ease;
  color: white;
}

.confirm-btn {
  background-color: green;
}

.confirm-btn:hover {
  background: linear-gradient(135deg, #22863a, #17682b);
  transform: scale(1.08);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.2);
}

.edit-btn {
  background-color: red;
}

.edit-btn:hover {
  background: linear-gradient(135deg, #e65100, #bf360c);
  transform: scale(1.08);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.2);
}
